[submodule "webpkit"]
	path = deps/webpkit
	url = https://github.com/louis-tru/webpkit.git

[submodule "web3z"]
	path = deps/web3z
	url = https://github.com/louis-tru/web3z.git

[submodule "NFT101"]
	path = deps/NFT101
	url = https://github.com/NFTSwap/NFT101.git

[submodule "NFT101-RUST"]
	path = deps/NFT101-RUST
	url = https://github.com/NFTSwap/NFT101-RUST.git
