
.sell {
	

	.panel {
		.txt {
			display: flex;
			align-items: center;
			padding: 10px;
			padding-left: 0;
			font-weight: bold;
			h3 {
				color: #f00;
				margin: 0;
			}
		}
		// text-align: center;
		border-top: solid 1px #aaa;
		padding-bottom: 10px;
	}
}