

.app-page {
	padding-bottom: 0;
}

.g_loading {
	background: rgba(0,0,0,0.4);
}

.g_loading .text {
	padding: 0.1rem;
	font-size: 16px;
	color: #fff;
}

.dialog .btns .ok {
	color: #000;
}

.dialog .b {
	color: #444;
}