
html {
	font-size: 46px;
}

.craeZe a:first-child {
	margin-right: -4px;
	z-index: 5;
}

.craeZe {
	display: flex;
	position: absolute;
	right: 56px;
	margin-top: 16px;
}

.jJAOtC {
	background-color: rgb(0, 92, 58);
	position: absolute;
	bottom: 0px;
	right: 24px;
	left: 24px;
	height: 88px;
	display: flex;
	align-items: flex-end;
	padding: 16px;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.jJAOtC div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	-webkit-box-pack: justify;
	justify-content: space-between;
	height: 100%;
	margin-right: 16px;
	flex: 1 1 0%;
}

.jJAOtC div p {
	font-size: 10px;
	line-height: 12px;
	font-family: "Founders Grotesk Regular";
	font-weight: bold;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	margin: 0px 0px 10px;
}

.jJAOtC div>p {
	font-size: 10px;
}

.jJAOtC div span.count {
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.jJAOtC div span.count span {
	display: flex;
	height: 100%;
	align-items: flex-start;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.jJAOtC div span.count p.count-value {
	margin: 0px;
	font-size: 18px;
	font-weight: 300;
}

svg:not(:root).svg-inline--fa {
	overflow: visible;
}

.svg-inline--fa.fa-w-16 {
	width: 1em;
}

.poPni {
	display: block;
	background: white;
	padding: 1em;
	font-family: "Founders Grotesk Regular";
	font-size: 18px;
	color: black;
	width: 225px;
	position: absolute;
	top: 73px;
	right: 26px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 25px;
}

.eSbheu {
	padding-bottom: 16px;
}

.eSwYtm {
	color: black;
}

.eSwYtm:hover,
.eSwYtm:visited,
.eSwYtm:active,
.eSwYtm:focus {
	color: black;
}

.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -.125em;
}

.jZUSDr {
	padding: 16px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 92, 58, 0.3) 0px 4px 14px;
	border-radius: 4px;
	font-family: "Founders Grotesk Regular";
	font-weight: bold;
	border: none;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
}

.gXikXG {
	position: absolute;
	box-shadow: rgba(0, 92, 58, 0.16) 0px 4px 14px;
	border-radius: 23px;
	padding: 16px 24px;
	background-color: rgb(0, 92, 58);
	color: white;
	text-transform: uppercase;
	font-family: "Founders Grotesk Medium";
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1.2px;
	font-weight: bold;
	top: 16px;
	z-index: 3;
}

.svg-inline--fa.fa-w-18 {
	width: 1.125em;
}
